@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background: url('https://images.unsplash.com/photo-1559762412-627400abeec1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80') no-repeat center center / cover;
  display: flex;
  justify-content: center;
   align-items: center;
}

.app {
  max-width: 50rem;
  height: 30rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 3rem auto;
}
form h1 {
  margin: 0 0 20px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 10px;
  color: #344e41;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: #6a994e;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.control-group {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}
button {
display: block;
margin: 0 auto;
font-size: 14px;
color: #fff;
background-color: rgba(44, 58, 17, 0.8);
border-radius: 4px;
outline: none;
cursor: pointer;
transition: .3s ease-in-out;
border: 1px solid #fff;
padding: 0.5rem 1.5rem;


}

button:hover {
  background-color: rgba(44, 58, 17, 1);
}

button:hover,
button:active {
  background-color: #6a994e;
  border-color: #6a994e;
}

 button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  border-color: #808080;
  color: #fff;
  cursor: not-allowed;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  margin-left: 1rem;
}

.invalid input {
  border: 1px solid #9d0208;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #faa307;
  background-color: #fbe8d2;
}

.invalid p {
 color: #9d0208;
}

.error-text {
  color: #9d0208;
}
